.word-row {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.first-letter {
  width: 45px;
  height: 45px;
  border: 2px solid #2563eb;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: #2563eb;
  margin-right: 10px;
}

.letter-boxes {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.letter-box {
  width: 40px;
  height: 45px;

  border: 2px solid #2563eb;
  border-radius: 8px;

  text-align: center;
  font-size: 22px;
  font-weight: bold;

  outline: none;
  background: white;

  text-transform: uppercase;
}

.letter-box:focus {
  border-color: #1d4ed8;
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}

